.sidebar-container {
    background-color: white;
    position: fixed;
    height: 100vh;
    z-index: 10;
    padding: .5rem;
    gap: .5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layer-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: .5rem;
}

.background-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.background-color-card {
    padding: 1rem;
    cursor: pointer
}