@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    position: relative;
    overflow: hidden;
}

canvas {
    width: 100vw;
    height: 100vh
}
